{{define "main"}}
{{template "header".}}
<div id="wrap">
    <h1 class="alert alert-info">Places</h1>
    <div class="container">

        <form action="/getPlaces" method="POST">
            <label class="form-control-label" for="query">Query</label>
            <input class="form-control" type="text" id="query" name="query" placeholder="e.g. Club Party"/>
            <label class="form-control-label" for="city">City</label>
            <input class="form-control" type="text" id="city" name="city" placeholder="City, Country">
            <button class="btn btn-info" type="submit">Submit</button>
        </form>


        {{with .Places}}
        <ul>
            {{range .}}
            <li>{{printf "%s" .Name}}</li>
            {{end}}
        </ul>
        {{end}}
    </div>
</div>
{{template "footer".}}
{{end}}